<div class="row justify-content-center">
    <div class="col-md-8">
        <div class="card mb-4">
            <div class="card-header">
                <h2 class="card-title">{{title}}</h2>
                <p class="card-subtitle mb-2 text-muted">Posted on {{format_date date_created}} by {{user.name}}</p>
            </div>
            <div class="card-body">
                <p class="card-text">{{content}}</p>
            </div>
        </div>
        <div class="comment-card">
        <div class="card">
            <div class="card-header">Leave a comment</div>
            <div class="card-body">
                <form class="new-comment-form">
                    <div class="form-group">
                        <label for="comment-body">New Comment</label>
                        <textarea id="comment-body" class="form-control" rows="3"></textarea>
                    </div>
                    <button type="submit" class="btn btn-primary">Submit</button>
                </form>
            </div>
        </div>
        </div>
    <div class="row">
    <div class="col-12">
        <h3 class="text-center">Comments:</h3>
    </div>
</div>

{{#if comments.length}}
    {{#each comments}}
        {{>comment-block}}
    {{/each}}
{{else}}
 <div class="row">
    <div class="col-12">
        <p class="text-center">No comments yet!</p>
    </div>
</div>
{{/if}}

</div>
</div>

<script src="/assets/js/single-post.js"></script>
